@charset "UTF-8";
/**
 * 
 * @authors huruji(谢志强)
 * @date    2016-02-19 18:17:12
 * @version $Id$
 */
 *{
 	padding: 0;
 	margin: 0;
 }
 li{
 	list-style: none;
 }
body{
	padding-top: 50px;
	background: #ccc;
}
.productSlider{
	position: relative;
	width:970px;
	height:344px;
	margin:0 auto;
}
.pre,.next{
	width: 76px;
	height: 112px;
	z-index: 5;
	position:absolute;
	top:180px;
}
.pre{
	background: url(images/prev.png) no-repeat;   
	left:140px;
}
.next{
	background: url(images/next.png) no-repeat;
    right:140px;
}
.slider_img li{
    position: absolute;
    overflow: hidden;
}
.img1{
    z-index: 1;
    top:-104px;
    left:0;
    opacity: 0;
    filter:alpha(opacity=0);
}
.img1 img{
	width:100px;
}
.img2{
	top:100px;
	left:0;
	z-index: 2;
    opacity: 0.4;
    filter:alpha(opacity=40);	
}
.img2 img{
	width:270px;
}
.img3{
	top:50px;
	left:75px;
	z-index: 3;
	opacity: 0.8;
    filter:alpha(opacity=80);
} 
.img3 img{
	width:510px;
}
.img4{
	top:0;
	left:145px;
	z-index: 4;
}
.img5{
	top:50px;
	left:385px;
	z-index: 3;
	opacity: 0.8;
    filter:alpha(opacity=80);
}
.img5 img{
	width: 510px;
}
.img6{
	top:100px;
	left:700px;
	z-index: 2;
	opacity: 0.4;
    filter:alpha(opacity=40);
}
.img6 img{
	width:270px;
}
.img7{
    z-index: 1;
    opacity: 0;
    filter:alpha(opacity=0);
left:700px;
top:0;
}
.img7 img{
	width:100px;
}
